<p id="notice"><%= notice %></p>

<h1 id="heading">Listing Albums</h1>

<%= render 'albums/albums', albums: @albums %>

<br>

<%= link_to 'New Album', new_album_path %>

<% content_for :js do %>
<script>
  $('#heading').click(function(){
    console.log(new Date())
  })
</script>
<% end %>
